// This file contains shared base styles and will be loaded on all browsers and devices

@import 'bourbon/bourbon';
@import 'neat/neat';

$sansFamily: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$headingFamily: 'Bebas Neue', Helvetica, Arial, sans-serif;
$white: #FFFFFF;
$black: #111;
$darkGrey: #222;
$grey: #444;
$lightGrey: #ccc;
$blue: #6EC5FF;
$indigo: #5EA5FF;

body {
    font-family: $sansFamily;
    margin: 0;
    color: $grey;
    font-size: 1.2em;
    min-width: 257px;
}

a {
    color: $indigo;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    color: $darkGrey;
    font-family: $headingFamily;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 0.8em;
    margin: 0.4em 0;
    a {
        color: inherit;
    }
    a:hover {
        text-decoration: none;
    }
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h1.hero {
    font-size: 4.5em;
    margin: 0.5em 0 0.1em;
}

p {
    line-height: 1.5em;
    margin: 1em 0;
}

.wrapper {
    padding: 20px;
}

.container {
    @include outer-container;
    max-width: 780px;
    position: relative;
}

header a {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

header nav ul {
    font-size: 16px;
    @include clearfix;
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
}

header .logo {
    font-style: italic;
}

header nav li {
    float: left;
    a {
      padding-right: 20px;
    }
}

header nav.subnav {
  z-index: 2;
  margin: 10px 0 -40px;
  position: absolute;
  right: 0;
}

header .subnav a {
  padding-right: 0;
  padding-left: 20px;
}

header .nav-slider {
  height: 10px;
  background-color: $black;
  position: relative;
}

header .nav-selection {
    position: absolute;
    height: 10px;
    background-color: $blue;
}

header .nav-selection.about {
    width: 44px;
    left: 49px;
}

header .nav-selection.blog {
    width: 33px;
    left: 0;
}

header .nav-selection.projects {
    width: 60px;
    left: 107px;
}

header .subnav-selection {
  position: absolute;
  height: 10px;
  background-color: $black;
  width: 50px;
}

header .subnav-selection.vimdeck-home {
  right: 52px;
  width: 42px;
}

header .subnav-selection.vimdeck-docs {
  right: 0px;
  width: 34px;
}

header .profile {
    float: right;
    height: 58px;
    max-width: 84px;
    margin-top: 14px;
}

header .social {
    width: 16px;
    float: left;
}

header .social img {
    display: block;
    margin: 9px 0;
}

header .avatar {
    height: 58px;
    border: 2px solid $black;
    float: left;
    margin-left: 10px;
    @media (max-width: em(327)) {
      display: none;
    }
}

.github {
  display: none;
}

footer {
    margin-top: 30px;
}

footer ul {
    padding: 0;
}

footer nav {
    border-width: 10px 0 0;
    border-style: solid;
    border-color: $black;
    padding-top: 20px;
}

footer nav ul li {
    @include span-columns(3);
    @include media(max-width 40em) {
        @include span-columns(12);
        margin-bottom: 10px;
        &:nth-child(2n) {
          @include omega;
        }
    }
}

ul, ol {
    line-height: 1.5em;
    padding-left: 20px;
    font-size: 1em;
}

ul {
    list-style: square;
}

.post {
    border-top: 1px solid $darkGrey;
    margin-bottom: 5em;
}

.post:first-child, .post.no-border {
    border-top: none;
}

.post-header .date {
    font-family: $sansFamily;
    text-decoration: lowercase;
    margin: 1em 0 -1.2em;
}

#projects {
    margin-top: 40px;
}

.project {
    display: block;
    border: 1px solid $lightGrey;
    margin-bottom: 2.35765%;
    @include pad;
    color: inherit;
    &:hover {
        border-color: $indigo;
        text-decoration: none;
    }
}

.project h2 {
  font-size: 3em;
}

.project:nth-child(2n) {
    @include omega;
}

.pagination {
    margin-top: 30px;
}

.button, .key-selector a {
    background: $darkGrey;
    color: $white;
    padding: 0.4em 0;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-family: $headingFamily;
    font-size: 1.2em;
}

.key-selector a {
    float: left;
    padding: 0.5em 0.4em 0.4em;
    margin-right: 0.4em;
    font-family: $sansFamily;
    font-size: 0.9em;
}

.key-selector a.active {
    background-color: $blue;
}

.button:hover, .button:active {
    @include box-shadow(0 0 1px 2px rgba(0,0,0,1) inset);
}

.pagination .button span {
    position: relative;
}

.pagination a.previous span:before {
    content: "←";
    position: absolute;
    left: -30px;
}

.pagination a.next span:after {
    content: "→";
    position: absolute;
    left: 50px;
}

pre {
    font-family: 'Source Code Pro', monospace;
}

.chords {
    color: $white;
}

.chords strong {
    color: $blue;
}
